/*
 *
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

html, body, div, h1, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

div#board-title {
  clear: both;
}

div#list-title {
  text-align: center;
  padding: 5px;
  font-weight: bold;
}

div#list {
  float: left;
  margin: 15px;
  padding: 10px;
  background-color: #2980b9;
  border-radius: 10px;
  font-family: sans-serif;
}

input#add-card {
  text-align: center;
  margin: 0 auto;
}